@import "tailwindcss";
* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: Satoshi, sans-serif;
}
a {
  transition: all 0.3s ease;
}
#header {
  transition: all 0.3s ease;
}
@keyframes move-dots {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}
.animate-dots {
  animation: move-dots 10s linear infinite;
}

@keyframes draw-arc {
  from {
    stroke-dashoffset: 3770;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.arc-path {
  stroke-dasharray: 3770;
  stroke-dashoffset: 3770;
  animation: draw-arc 2s ease forwards;
}

@media (max-width: 968px) {
  #header nav {
    display: none;
  }
}
::-webkit-scrollbar {
  display: none;
}